<div class = 
  "min-w-screen min-h-screen
  bg-teal-900
  flex place-items-center
  px-5 py-5">
  
  <!--Background Label-->
  <div class = "w-full
    mx-auto
    rounded-xl
    shadow-xl
    text-gray-800
    relative overflow-hidden
    bg-white" 
    style="max-width: 400px;">

    <h1 class="flex place-content-center h-10">
      <img src="assets\angularLogo.png" class = "w-9 h-9" style="float:left">
      <p class="font-bold text-2xl">Angular Calculator</p>
    </h1>

    <!--Calcculator Screen-->
    <div class = "
      h-40
      bg-gradient-to-b
      from-gray-800
      to-gray-700
      text-right">

      <!--Number Screen-->
      <div class = "w-full
        py-6 px-6
        text-6xl
        text-white
        font-thin">
      {{displayNumber}}
      </div>

        <!--Number Screen-->
      <div class = "w-full
        py-0 px-6
        text-3xl
        text-gray-300
        font-thin">
        {{resultDisplay | number}}
      </div>


    </div>
    <!--End of calculator screen-->

    <!--Calculator button area-->
    <div class = "w-full bg-white flex justify-center py-5">
      <div class="grid grid-cols-4 gap-3">
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                       text-red-500 font-bold text-4xl"
                       (click)="onClickValue('c', 'function')">AC</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                       text-red-500 font-bold text-4xl"
                        ><</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                       text-red-500 font-bold text-4xl"
                       (click)="onClickValue('%', 'function')">%</button>
        <button class="bg-red-500 rounded-2xl w-20 h-20
                       text-white font-bold text-4xl"
                       (click)="onClickValue('/', 'function')">/</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                       text-black font-bold text-4xl"
                       (click)="onClickValue('7', 'number')">7</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                       text-black font-bold text-4xl"
                       (click)="onClickValue('8', 'number')">8</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                       text-black font-bold text-4xl"
                       (click)="onClickValue('9', 'number')">9</button>
        <button class="bg-red-500 rounded-2xl w-20 h-20
                       text-white font-bold text-4xl"
                       (click)="onClickValue('*', 'function')">*</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                       text-black font-bold text-4xl"
                       (click)="onClickValue('4', 'number')">4</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                       text-black font-bold text-4xl"
                       (click)="onClickValue('5', 'number')">5</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                        text-black font-bold text-4xl"
                        (click)="onClickValue('6', 'number')">6</button>
        <button class="bg-red-500 rounded-2xl w-20 h-20
                       text-white font-bold text-4xl"
                       (click)="onClickValue('-', 'function')">-</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                        text-black font-bold text-4xl"
                        (click)="onClickValue('1', 'number')">1</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                        text-black font-bold text-4xl"
                        (click)="onClickValue('2', 'number')">2</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                        text-black font-bold text-4xl"
                        (click)="onClickValue('3', 'number')">3</button>
        <button class="bg-red-500 rounded-2xl w-20 h-20
                        text-white font-bold text-4xl"
                        (click)="onClickValue('+', 'function')">+</button>
        <button class="bg-gray-300 rounded-2xl w-43 h-20 col-span-2
                       text-black font-bold text-4xl"
                       (click)="onClickValue('0', 'number')">0</button>
        <button class="bg-gray-300 rounded-2xl w-20 h-20
                       text-black font-bold text-4xl"
                       (click)="onClickValue('.', 'number')">.</button>
        <button class="bg-red-500 rounded-2xl w-20 h-20
                       text-white font-bold text-4xl"
                       (click)="onClickValue('=', 'function')">=</button>
      </div>
    </div>
  </div>

</div>